@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.nav-link {
    min-width: 130px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1em;
    transition: color .4s ease;
    color: #000000 !important;
}

.nav-link:hover {
    color: #FFDB58 !important;
}

.bg-light {
    background-color: white !important;
}

.nav-brand-image {
    width: 60px;
    transition: width .4s ease;
}

.nav-brand-image:hover {
    width: 100px;
}